.entry-row {
  display: grid;
  text-align: left;
  border-radius: 6px;
  background-color: var(--secondary-50);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.entry-row-header,
.entry-row-content,
.entry-row-tags,
.entry-row-trash {
  word-break: break-all;
  padding: 20px 24px 0 24px;
}

.entry-row-header h3 {
  margin-bottom: 5px;
}

.entry-row-header h4 {
  margin-bottom: 15px;
}

.entry-row-header p,
.entry-row-content,
.entry-row-tags p {
  margin: 0;
  line-height: 28px;
}

.entry-row-trash {
  display: flex;
  justify-content: right;
  align-items: center;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.__tags-entry {
  background-color: var(--secondary-50);
  border: 1px solid var(--neutral-300);
}

@media (max-width: 768px) {
  .p-tag-week-row h3 {
    text-align: center;
    font-size: 14px;
  }
}
