@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,200;1,500&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0 auto;
  padding: 0;
}

textarea {
  word-break: normal;
}

::placeholder {
  font-size: 16px;
  font-weight: 500;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet ExplorerIE */
  color: var(--text);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-item-1 {
  display: flex;
  height: 58px;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1 / 2;
}

.grid-item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
  grid-column: 1;
  grid-row: 3 / max-content;
}

.grid-item-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  grid-column: 1;
  grid-row: 3 / max-content;
}

.header {
  background: var(--secondary-100);
}

.title {
  font-size: 28px;
  font-weight: 500;
  color: var(--text);
}
